ShifterSelectionScreen{
    align: center middle;
    width: 80%;
    height: 30%;
    background: grey 10%;
}

Grid{
    grid-size: 1
    align: center middle;
    padding: 0 1;
    width: 60;
    height: 11;
    border: thick $background 80%;
    background: $surface;
}